<section class="contact">
  <div class="content">
    <h2>Contact Me</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos voluptatibus
      tempora commodi fugit, quae vitae praesentium quaerat a labore voluptates?
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box">
        <div class="icon"><i class="fas fa-map-marked-alt"></i></div>
        <div class="text">
          <h3>Address</h3>
          <p>
            Broshnev-Osada,<br />
            77611
          </p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fas fa-phone"></i></div>
        <div class="text">
          <h3>Phone</h3>
          <p>+(380) 99 377 63 42</p>
        </div>
      </div>
      <div class="box">
        <div class="icon"><i class="fas fa-envelope"></i></div>
        <div class="text">
          <h3>Email</h3>
          <p>sergiy1998373@gmail.com</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form>
        <h2>Send Message</h2>
        <div class="inputBox">
          <input
            type="text"
            name=""
            required="required"
            placeholder="Full Name"
          />
        </div>
        <div class="inputBox">
          <input placeholder="Email" type="text" required="required" />
        </div>
        <div class="inputBox">
          <textarea
            placeholder="Type your Message..."
            required="required"
          ></textarea>
        </div>
        <div class="inputBox">
          <input type="submit" value="send" />
        </div>
      </form>
    </div>
  </div>
</section>
