<section class="contact">
  <div class="content">
    <h2>Contact Me</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos voluptatibus
      tempora commodi fugit, quae vitae praesentium quaerat a labore voluptates?
    </p>
  </div>
  <div class="container">
    <div class="contactInfo">
      <div class="box" *ngFor="let contact of contacts">
        <div class="icon"><i class="{{ contact.img }}"></i></div>
        <div class="text">
          <h3>{{ contact.title }}</h3>
          <p>{{ contact.value }}</p>
        </div>
      </div>
    </div>
    <div class="contactForm">
      <form>
        <h2>Send Message</h2>
        <div class="inputBox">
          <input
            type="text"
            name=""
            required="required"
            placeholder="Full Name"
          />
        </div>
        <div class="inputBox">
          <input placeholder="Email" type="text" required="required" />
        </div>
        <div class="inputBox">
          <textarea
            placeholder="Type your Message..."
            required="required"
          ></textarea>
        </div>
        <div class="inputBox">
          <input type="submit" value="send" />
        </div>
      </form>
    </div>
  </div>
</section>
